In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_weather_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_weather_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Rainfall over last 1hr,Snowfall over last 1hr
0,0,Bethel,US,41.37,-73.41,78.01,64,40,4.70,scattered clouds,0.0,0.0
1,1,Pangkalanbuun,ID,-2.68,111.62,80.13,78,100,4.27,overcast clouds,0.0,0.0
2,2,Port Alfred,ZA,-33.59,26.89,60.64,32,0,9.51,clear sky,0.0,0.0
3,3,Saint-Philippe,RE,-21.36,55.77,64.40,72,20,5.82,few clouds,0.0,0.0
4,4,Tuatapere,NZ,-46.13,167.68,47.37,66,44,3.78,scattered clouds,0.0,0.0

In [3]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_cond = input("Do you want it to be raining? (yes/no) ")
snow_cond = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [4]:
# Filter the dataset to find the cities that fit the criteria.
if rain_cond == 'yes':
    preferred_cities_df = city_weather_data_df.loc[(city_weather_data_df["Max Temp"] <= max_temp) & (city_weather_data_df["Max Temp"] >= min_temp) & (city_weather_data_df["Rainfall over last 1hr"] > 0)]
else:
    preferred_cities_df = city_weather_data_df.loc[(city_weather_data_df["Max Temp"] <= max_temp) & (city_weather_data_df["Max Temp"] >= min_temp) & (city_weather_data_df["Rainfall over last 1hr"] == 0)]
if snow_cond == 'yes':
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Snowfall over last 1hr"] > 0)]
else:
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Snowfall over last 1hr"] == 0)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Rainfall over last 1hr,Snowfall over last 1hr
0,0,Bethel,US,41.37,-73.41,78.01,64,40,4.70,scattered clouds,0.0,0.0
1,1,Pangkalanbuun,ID,-2.68,111.62,80.13,78,100,4.27,overcast clouds,0.0,0.0
5,5,Bengkulu,ID,-3.80,102.27,80.13,77,82,1.74,broken clouds,0.0,0.0
7,7,Rikitea,PF,-23.12,-134.97,70.93,75,54,13.18,broken clouds,0.0,0.0
9,9,Hobyo,SO,5.35,48.53,78.40,78,83,16.35,broken clouds,0.0,0.0
12,12,Port Blair,IN,11.67,92.75,83.57,77,100,14.16,overcast clouds,0.0,0.0
14,14,Yellowknife,CA,62.46,-114.35,71.60,43,75,6.93,broken clouds,0.0,0.0
20,20,Hilo,US,19.73,-155.09,82.40,61,40,9.17,scattered clouds,0.0,0.0
21,21,Albany,US,42.60,-73.97,78.01,88,90,4.94,overcast clouds,0.0,0.0
23,23,Tevaitoa,PF,-16.78,-151.50,79.27,76,100,15.28,overcast clouds,0.0,0.0

In [5]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, weather description, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

In [6]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the hotel data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Bethel,US,78.01,scattered clouds,41.37,-73.41,Courtyard by Marriott Danbury
1,Pangkalanbuun,ID,80.13,overcast clouds,-2.68,111.62,Grand Kecubung Hotel
5,Bengkulu,ID,80.13,broken clouds,-3.80,102.27,Grage Hotel Bengkulu
7,Rikitea,PF,70.93,broken clouds,-23.12,-134.97,Pension Maro'i
9,Hobyo,SO,78.40,broken clouds,5.35,48.53,Osmani Hotel

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [9]:
# Add a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))